<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACn1_RBEIpXPN8cvIoUtKNcdOUNWJzed0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023973905794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tabeebyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>olx-clone-2c457</string>
	<key>STORAGE_BUCKET</key>
	<string>olx-clone-2c457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023973905794:ios:3dfa12eaec0a19ea5cab9b</string>
</dict>
</plist>